.header{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    border-bottom: 1px solid white;
}

.header_logo{
    height: 50px;
    object-fit: contain;
}

.header_icon{
    padding: 10px;
}