.swipebuttons{
    width: 100%;
    display: flex;
    bottom: 5vh;
    position: fixed;
    justify-content: space-evenly;
    
}

.swipebuttons .MuiIconButton-root {
    background-color: white;
    box-shadow: 0px 10px 50px 0px black;
}

.swipebutton_repeat{
    padding: 10px;
    color: yellow;
}
.swipebutton_close{
    padding: 10px;
    color: red;
}
.swipebutton_Starrate{
    padding: 10px;
    color: rgb(0, 183, 255);
}
.swipebutton_favorite{
    padding: 10px;
    color: rgb(233, 59, 227);
}
.swipebutton_flashon{
    padding: 10px;
    color: rgb(70, 203, 79);
}